# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
devel
MidAir/sensor_records.hdf5
MidAir/PLE_training

download_config.txt
MidAir/.vscode/c_cpp_properties.json
MidAir/.vscode/settings.json
MidAir/midair.bag
