<launch>
<group ns="dense">
   4    <node pkg="autonomous_landing" name="dense" type="dense_verifier" output="screen" > <!--launch-prefix="gdb -ex run -deletethis-args" -->
            <param name="safety_zone_size" value="5.0" />
            <param name="sweep_n" value="7" />
            <param name="matching_threshold" value="0.1" />
            <param name="distance_threshold" value="0.1" />
            <param name="uniqueness_threshold" value="0.88" />
            <param name="pointcloud_filter_radius" value="0.1" />
            <param name="pointcloud_filter_min_neighbours" value="20" />
            
            <rosparam file="$(find autonomous_landing)param/euroc_mono.yaml" command="load" />
            
        </node>
        
   5   </group>
</launch>
